.example-card {
    max-width: 50vw;
    margin: 1em;
}

.example-header-image {
    background-image: url('http://seanmorahan.com/wp-content/uploads/2014/06/sean-morahan-003.jpg');
    background-size: cover;
}

.container {
    margin: 0.5em;
}

a.mat-card-title {
    text-decoration: none;
    color: inherit;
    &:hover {
        color:rgb(97, 97, 110);
    }
}
