# Server Config
.htaccess
/.htaccess

.DS_Store
.vscode
.settings

.metadata
.recommenders
Servers
nateeubanksREST/.gradle
nateeubanksREST/build
nateeubanksREST/bin
nateeubanksJPA/.gradle
nateeubanksJPA/build
nateeubanksJPA/bin
nateeubanksJPA/.classpath

.gradle
.project
build.gradle
gradle
gradlew
gradlew.bat
