# Server Config
.htaccess
/.htaccess

.DS_Store
.vscode
.settings

.metadata
.recommenders
Servers
nateeubanksREST/.gradle
nateeubanksJPA/.gradle
nateeubanksREST/gradlew
nateeubanksJPA/gradlew
nateeubanksREST/gradlew.bat
nateeubanksJPA/gradlew.bat
nateeubanksREST/build
nateeubanksJPA/build
nateeubanksREST/bin
nateeubanksJPA/bin
nateeubanksJPA/.classpath
nateeubanksREST/.classpath

.gradle
.project
build.gradle
gradle
gradlew
gradlew.bat
