 <!-- Carousel (images are specified in fade.css)
================================================== -->
<div class="carousel fade-carousel slide carousel-fade" data-ride="carousel" data-interval="5000" id="bs-carousel">
    <!-- Overlay -->

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1">
                <div class="overlay"></div>
            </div>
            <div class="hero">
                <div>
                    <h1>@nateeubanks</h1>
                    <h2>...each time he finds a new way to make me laugh...Truly a funny dude.</h2>
                    <h4>- Rob Schulte</h4>
                </div>
                <!-- <button class="btn btn-hero btn-lg" role="button">See all features</button> -->
            </div>
        </div>
        <div class="item slides">
            <div class="slide-2">
                <div class="overlay"></div>
            </div>
            <div class="hero">
                <div>
                    <h2>a pleasure to have on our line-up</h2>
                    <h4>- Sean Morahan</h4>
                </div>
                <a href="mailto:nathan.eubanks@gmail.com"><button class="btn btn-hero btn-lg" role="button" type="button">Book
                        Nate</button></a>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-3">
                <div class="overlay"></div>
            </div>
            <div class="hero">
                <div>
                    <h2>He’s the type of comic I love to book...</h2>
                    <h4>- Matt Keck</h4>
                </div>
                <a href="https://drive.google.com/folderview?id=0BzgqfV9PL27hMTR6NTdqRzFiMlE&usp=sharing"><button class="btn btn-hero btn-lg" role="button" type="button">Gallery</button></a>
            </div>
        </div>
    </div>
</div>
