<!-- gCalFlow
================================================== -->
<script>
    _gCalFlow_debug = false;
</script>
<script type="text/javascript" src="jquery-gcal-flow-3.0.1/jquery.gcal_flow.js"></script>

<script type="text/javascript">
    $(function() {
        $('#gcf-nate-events').gCalFlow({
            calid: 'j4ttdotndrai1e6grt7bp7i6ko@group.calendar.google.com',
            // callback: loadLinks(),
            // Comment out the apikey line below only for testing
            apikey: 'AIzaSyC8z-yio3AXTmOXlgt8zQam57uSD8tMObY',
            maxitem: 15,
            auto_scroll: false,
            no_items_html: 'No Upcoming Shows',
            // link_item_title: false,
            // link_item_description: true
        });
    });
</script>
    <!-- NAVBAR
================================================== -->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand active" ng-click="vm.goHome()">Nate Eubanks</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ng-click="vm.showReviews()">Reviews</a></li>
                    <li><a href="https://www.youtube.com/watch?v=qdFZyUNPiyQ" target="_blank">YouTube</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="mailto:nathan.eubanks@gmail.com">nathan.eubanks@gmail.com</a></li>
                            <li><a href="https://twitter.com/NateEubanks" target="_blank">@NateEubanks</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Past Shows<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Recent Shows</li>
                            <li role="separator" class="divider"></li>
                            <li><a href="http://www.breakroomdowntown.com/" target="_blank">Topeka, KS - Breakroom</a></li>
                            <li><a>Kansas City, MO - Stanford and Sons, Kick Comedy Theater, Uptown Arts Bar</a></li>
                            <li><a>Lawrence, KS - Replay lounge, Jackpot Saloon, Jazzhaus, Oread</a></li>
                            <li><a href="http://www.riley.army.mil/" target="_blank">Fort Riley, KS - Fort Riley Military Base</a></li>
                            <li><a href="https://www.facebook.com/zoolarious/" target="_blank">Lincoln, NE - Zoolarious</a></li>
                            <li><a href="http://www.livekuwait.com/" target="_blank">Kuwait City, Kuwait - The Live Theater, Bayt Lothan</a></li>
                            <li><a href="http://shitholehq.com" target="_blank">Chicago, IL - The Shit Hole</a></li>
                            <li><a href="http://drovers-dog.com/" target="_blank">Amsterdam, Netherlands - Drover’s Dog</a></li>
                            <li><a href="http://www.kitchbar.com/" target="_blank">Toronto, Ontario - Kitch Komedy</a></li>
                            <li><a>Johannesburg, South Africa - The Box a Goliath and Goliath Production</a></li>
                            <li><a>Paris, France - A terrible hostel open mic</a></li>
                            <li><a href="http://www.stregisdoha.com/" target="_blank">Doha, Qatar - Jazz at the Lincoln Center at St. Regis</a></li>
                            <li><a href="http://thedomainhotels.com/restaurant_1/txoko.en.html" target="_blank">Manama, Bahrain - Txoko Lounge</a></li>
                            <li><a href="http://www.comedyclubbangkok.com/" target="_blank">Bangkok, Thailand - Comedy Club Bangkok, Stagetime Comedy Club</a></li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shows<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div id="gcf-nate-events">
                                    <div class="gcf-item-container-block">
                                        <div class="gcf-item-block">
                                            <div class="gcf-item-header-block">
                                                <div class="gcf-item-date-block">
                                                    <span class="gcf-item-daterange"></span>
                                                </div>
                                                <div class="gcf-item-title-block">
                                                    <strong class="gcf-item-title"></strong>
                                                </div>
                                            </div>
                                            <div class="gcf-item-body-block">
                                                <div class="gcf-item-description">
                                                </div>
                                                <div class="gcf-item-location">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
